@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');h1 {
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
}

body {
    opacity: 0;
    transition: opacity 5s;
}
img{
    display: block;
  margin-right: auto;
  margin-left: 50%;
  width: 40%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif; 
}
.social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.social_media a{
    display: block;
    background-color: rgb(39, 38, 38);
    height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #111 ; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(39, 38, 38);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28.5px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }